# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt
# Nodejs packages
node_modules
# Bower packages
bower_components
# Temporary directory
.temp
# Build directory
dist
