<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Neighborhood map by davcs86</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

    </head>
    <body ng-controller="AppController as AppCtrl" layout="row" layout-align="center stretch" ng-cloak="" ng-app="NeighborhoodMap">

        <section layout="row" layout-fill>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <md-content no-padding ng-controller="SearchPanelController as SearchPanelCtrl">
                    <md-toolbar hide-gt-md>
                        <div class="md-toolbar-tools">
                    <!--<div layout="row" hide-gt-md>-->
                            <span flex></span>
                            <md-button ng-click="SearchPanelCtrl.close()" class="md-icon-button md-primary" aria-label="Close">
                                <i class="material-icons">&#xE888;</i>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <div layout-padding class="no-padding-top">
                        <form>
                            <md-input-container layout="row">
                                <label for="testInput">Search</label>
                                <input type="text" id="testInput" ng-model="data" md-autofocus>
                            </md-input-container>
                        </form>
                        <md-list>
                            <md-subheader class="md-no-sticky">2 line item</md-subheader>
                            <md-list-item class="md-2-line">
                                <img ng-src="" class="md-avatar" alt="" />
                                <div class="md-list-item-text">
                                    <h3></h3>
                                    <p>Secondary text</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-content>
            </md-sidenav>
            <md-content flex no-padding layout-fill layout="column">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-button hide-gt-md class="md-icon-button" aria-label="Search" ng-click="AppCtrl.toggleLeft()">
                            <i class="material-icons">&#xE8B6;</i>
                        </md-button>
                        <h2>
                            <span>Neighborhood map by @davcs86</span>
                        </h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <div layout="row" flex>
                    <div class="mapContainer">
                        <ng-map zoom="11" center="San Francisco, USA"></ng-map>
                    </div>
                </div>
            </md-content>
        </section>

        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/bower_components/angular-aria/angular-aria.js"></script>
        <script src="/bower_components/angular-messages/angular-messages.js"></script>
        <script src="/bower_components/angular-material/angular-material.js"></script>
        <script src="/bower_components/ngmap/build/scripts/ng-map.js"></script>
        <script src="/bower_components/cryptojslib/rollups/hmac-sha1.js"></script>
        <script src="/bower_components/cryptojslib/rollups/hmac-sha256.js"></script>
        <script src="/bower_components/cryptojslib/components/enc-base64.js"></script>
        <script src="scripts/vendor/oauth-1.0a.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js scripts/app.js -->
        <script src="scripts/App-controller.js"></script>
        <script src="scripts/DetailsPanel-controller.js"></script>
        <script src="scripts/SearchPanel-controller.js"></script>
        <!-- endbuild -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" media="screen" rel="stylesheet">
        <script src="http://maps.google.com/maps/api/js"></script>
    </body>
</html>
