<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Neighborhood map by davcs86</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
        <!-- build:css(.tmp) styles/preloader.css -->
        <link rel="stylesheet" href="styles/preloader.css">
        <!-- endbuild -->
    </head>
    <body ng-controller="AppController as AppCtrl" layout="column" layout-align="center stretch" ng-app="NeighborhoodMap">
        <!-- Preloader -->
        <div id="loader-container"></div>
        <!-- /Preloader -->
        <md-progress-linear md-mode="indeterminate" ng-cloak="" ng-if="AppCtrl.isLoading"></md-progress-linear>
        <section layout="column" layout-fill ng-cloak="">
            <md-content layout="row" layout-fill>
                <!-- Sidenav -->
                <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                    <md-content no-padding>
                        <md-toolbar hide-gt-md>
                            <div class="md-toolbar-tools">
                                <span flex></span>
                                <md-button ng-click="AppCtrl.closeSearchPanel()" class="md-icon-button md-primary" aria-label="Close">
                                    <i class="material-icons">&#xE888;</i>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <div layout-padding class="no-padding-top">
                            <!-- Search and filter panel -->
                            <form>
                                <md-input-container layout="row" class="md-icon-right md-block no-margin-bottom">
                                    <label for="testInput">Search</label>
                                    <md-icon class="material-icons" aria-label="Search">&#xE8B6;</md-icon>
                                    <input type="text" ng-model="AppCtrl.query">
                                </md-input-container>
                                <div class="md-padding no-padding-top">
                                    <label>Filter locations by:</label>
                                </div>
                                <div class="md-padding no-padding-top no-padding-bottom">
                                    <md-radio-group ng-model="AppCtrl.queryFilterBy">
                                        <md-radio-button value="1" class="md-primary">Name</md-radio-button>
                                        <md-radio-button value="2" class="md-primary">Address</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </form>
                            <!-- /Search and filter panel -->
                            <!-- Listview -->
                            <md-list>
                                <md-list-item
                                    class="md-2-line"
                                    ng-click="AppCtrl.selectItem(loc.google.place_id)"
                                    ng-repeat="loc in AppCtrl.mapLocations | filter: ((AppCtrl.queryFilterBy == 1 && {google:{name:AppCtrl.query}}) || (AppCtrl.queryFilterBy == 2 && {google:{vicinity:AppCtrl.query}})) as queryResults">
                                    <img ng-src="{{loc.google.photos.length > 0 ? loc.google.photos[0].getUrl40 : loc.google.icon}}" class="md-avatar" alt="{{loc.google.name}}'s photo'" />
                                    <div class="md-list-item-text">
                                        <h3>{{loc.google.name}}</h3>
                                        <p>{{loc.google.vicinity}}</p>
                                        <p>Google rating: <strong>{{loc.google.rating | number:1}} / 5.0</strong></p>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                                <!-- Show 'No locations found' when using the filter and there are items in AppCtrl.mapLocations -->
                                <md-list-item class="md-2-line" ng-if="AppCtrl.mapLocations.length > 0 && queryResults.length == 0">
                                    <div class="md-list-item-text">
                                        <h3>No locations found</h3>
                                    </div>
                                </md-list-item>
                            </md-list>
                            <!-- /Listview -->
                        </div>
                    </md-content>
                </md-sidenav>
                <!-- /Sidenav -->
                <md-content flex no-padding layout-fill layout="column">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <md-button hide-gt-md class="md-icon-button" aria-label="Search" ng-click="AppCtrl.openSearchPanel()">
                                <i class="material-icons">&#xE8B6;</i>
                            </md-button>
                            <h2>
                                <span>Neighborhood map by @davcs86</span>
                            </h2>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                    <div layout="row" flex>
                        <div class="mapContainer">
                            <!-- ngMap -->
                            <map zoom="13" center="San Francisco, USA"
                                map-initialized="AppCtrl.initMap(map)"
                                on-dragend="AppCtrl.updateLocations()"
                                on-zoom_changed="AppCtrl.updateLocations()">
                                <!-- ngMap - Marker -->
                                <marker
                                    ng-repeat="loc in AppCtrl.mapLocations | filter: ((AppCtrl.queryFilterBy == 1 && {google:{name:AppCtrl.query}}) || (AppCtrl.queryFilterBy == 2 && {google:{vicinity:AppCtrl.query}})) as queryResults"
                                    position="{{loc.google.geometry.location.latNum}}, {{loc.google.geometry.location.lngNum}}"
                                    on-mousedown="AppCtrl.clickMarker(loc.google.place_id)"
                                    id="{{loc.google.place_id}}"
                                    title="{{loc.google.name}}"></marker>
                                <!-- /ngMap - Marker -->
                                <!-- ngMap - InfoWindow -->
                                <info-window id="map-iw" max-width="240" on-closeclick="AppCtrl.selectItem(null)">
                                    <div ng-non-bindable="" id="map-iw-inner">
                                        <div ng-if="AppCtrl.getSelectedItem()">
                                            <img ng-src="{{AppCtrl.getSelectedItem().google.photos.length > 0 ? AppCtrl.getSelectedItem().google.photos[0].getUrl280 : AppCtrl.getSelectedItem().google.icon}}"
                                                alt="{{AppCtrl.getSelectedItem().google.name}}'s photo" class="img-iw"/>
                                            <h3>{{AppCtrl.getSelectedItem().google.name}}</h3>
                                            <div class="md-padding">
                                                Open now: <strong>{{AppCtrl.getSelectedItem().google.opening_hours.open_now?'Yes':'No'}}</strong>
                                            </div>
                                            <div class="md-padding no-padding-top">
                                                Categories:
                                                <div class="my-chips-container">
                                                    <span class="my-chips" ng-repeat="placeType in AppCtrl.getSelectedItem().google.types">{{placeType}}</span>
                                                </div>
                                            </div>
                                            <div class="md-padding no-padding-top no-padding-bottom">
                                                Google rating: <strong>{{AppCtrl.getSelectedItem().google.rating | number:1}} / 5.0</strong>
                                            </div>
                                            <div class="md-padding no-padding-top no-padding-bottom" >
                                                <h4>Yelp info</h4>
                                                <div ng-hide="AppCtrl.getSelectedItem().yelp !== null" ><em>N/A</em></div>
                                                <div ng-show="AppCtrl.getSelectedItem().yelp !== null" >
                                                    Rating: <strong>{{AppCtrl.getSelectedItem().yelp.rating | number:1}} / 5.0</strong> from {{AppCtrl.getSelectedItem().yelp.review_count | number:0}} reviews.
                                                    <div>
                                                        <a href="{{AppCtrl.getSelectedItem().yelp.url}}"
                                                            title="Open this location in Yelp.com in a new window"
                                                            target="_blank"
                                                            aria-label="{{AppCtrl.getSelectedItem().google.name}} in yelp.com">Open in Yelp.com</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="md-padding no-padding-top" >
                                                <h4>Foursquare info</h4>
                                                <div ng-hide="AppCtrl.getSelectedItem().foursquare !== null" ><em>N/A</em></div>
                                                <div ng-show="AppCtrl.getSelectedItem().foursquare !== null" >
                                                    Checkins: <strong>{{AppCtrl.getSelectedItem().foursquare.stats.checkinsCount | number:0}}</strong><br/>
                                                    <strong>{{AppCtrl.getSelectedItem().foursquare.stats.tipCount | number:0}}</strong> tips and reviews<br/><br/>
                                                    <div ng-if="AppCtrl.getSelectedItem().foursquare.specials.count > 0">
                                                        <strong>Special:</strong>
                                                        <p>{{AppCtrl.getSelectedItem().foursquare.specials.items[0].message}}</p>
                                                    </div>
                                                    <div ng-if="AppCtrl.getSelectedItem().foursquare.hasMenu">
                                                        <strong>Menu:</strong>&nbsp;<a href="{{'https://foursquare.com/v/'+AppCtrl.getSelectedItem().foursquare.id+'/menu'}}"
                                                            title="Open this location's menu in Foursquare.com in a new window"
                                                            target="_blank"
                                                            aria-label="View {{AppCtrl.getSelectedItem().google.name}}'s menu in foursquare.com">View menu</a>
                                                        <br/><br/>
                                                    </div>
                                                    <div>
                                                        <a href="{{'https://foursquare.com/v/'+AppCtrl.getSelectedItem().foursquare.id}}"
                                                            title="Open this location in Foursquare.com in a new window"
                                                            target="_blank"
                                                            aria-label="{{AppCtrl.getSelectedItem().google.name}} in foursquare.com">Open in Foursquare.com</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </info-window>
                                <!-- /ngMap - InfoWindow -->
                            </map>
                            <!-- /ngMap -->
                        </div>
                    </div>
                </md-content>
            </md-content>
        </section>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" media="screen" rel="stylesheet"/>
        <script src="http://maps.google.com/maps/api/js?libraries=places" ></script>
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/bower_components/angular-aria/angular-aria.js"></script>
        <script src="/bower_components/angular-messages/angular-messages.js"></script>
        <script src="/bower_components/angular-material/angular-material.js"></script>
        <script src="/bower_components/ngmap/build/scripts/ng-map.js"></script>
        <script src="/bower_components/cryptojslib/components/core.js"></script>
        <script src="/bower_components/cryptojslib/components/enc-base64.js"></script>
        <script src="/bower_components/cryptojslib/components/hmac.js"></script>
        <script src="/bower_components/cryptojslib/components/sha1.js"></script>
        <script src="/bower_components/cryptojslib/components/sha256.js"></script>
        <script src="/bower_components/lodash/lodash.js"></script>
        <script src="/bower_components/angular-promise-extras/angular-promise-extras.js"></script>
        <script src="/bower_components/ngstorage/ngStorage.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js scripts/app.js -->
        <script src="scripts/vendor/oauth-1.0a.js"></script>
        <script src="scripts/App-controller.js"></script>
        <script src="scripts/CallbackCleaner-factory.js"></script>
        <script src="scripts/Locations-factory.js"></script>
        <script src="scripts/preloader.js"></script>
        <!-- endbuild -->
    </body>
</html>
